<!DOCTYPE html>
<html>
<head>
  <title>Worthwordsgame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p>Today we are <%= Time.now.strftime("%d/%m/%Y") %><p>
<%= yield %>

</body>
</html>
